@font-face {
  font-family: "SFCompact";
  src: url("SFCompact/SF-Compact.ttf") format("truetype");
}
@font-face {
  font-family: "SFPro";
  src: url("SFPro/SF-Pro.ttf") format("truetype");
}

/*
SZÍNEK
https://palettes.shecodes.io/palettes/1313
*/
