@media screen and (max-width: 1023px) {
  .main-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    height: auto;
    position: static;
  }

  .left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: static;
    padding-left: 10%;
  }

  .right-container {
    width: 100%;
    padding-right: 0;
  }

  .left-content > .contact-icons {
    padding: 0;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .right-content {
    padding-left: 5%;
  }

  .contact-icons {
    height: 10%;
  }

  .left-content {
    padding-top: 10%;
    padding-bottom: 0;
  }

  .timeline-container {
    margin-top: 0;
  }

  .kep:hover {
    transform: scale(1.5);
  }

  /* Itt folytathatod az egyéb elemek reszponzívvá tételét */
}
